@media (max-width: 640px) {
    body {
        overflow-x: hidden;
    }
    h1.field-title,
    h2.field-title {
        padding-top: 20px;
    }
    header {
        background-color: lightgray;
    }
    main {
        padding-bottom: 40px;
    }
 
    .carousel-inner {
        height: 300px;
    }
    p {
        margin: 0!important;
    }
    img.img-header {
        background-size: cover!important;
    }
    footer div.col:last-of-type {
        padding-top: 30px;
    }
    }
    

@media screen and (min-width: 641px) {
    
    main {
        padding : 40px!important
    }
    img.img-fluid.img-header {
        min-width: 100%;
        height: 600px;
        background-size: cover!important;
        background-position: bottom!important;
    }
    h1, h2 {
        margin: 40px 0!important
    }
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    form div {
        width: 65%;
    }
    div.carousel{
        margin-bottom: 40px;
    }
}

footer {
        
    padding: 20px 0;
    background: #000;

}
footer ul {
    list-style: none;
}
footer ul li a {
    color: white;
    text-decoration: none;
}
footer  p,
footer  a {
    color: white;
}
div.card {
    margin: 10px 0;
    background-color: lightgray;
}
div.card p {
    padding-bottom: 10px;
}
main {
    background-color: #18A096;
}
a.evenement {
    color: white;
   display: flex;
   justify-content: flex-end;
}
nav li a:hover {
  color: orange!important;
}
.card img {
    max-height: 300px;
}
.img-container {
    display: flex;
}
img.img-fluid.img-header {
    background-image: url(assets/fiona-smallwood-iUxjs-F0voI-unsplash.jpg);
    width: 100%;
    height:400px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}
.carousel-item,
.carousel-item.active {
    height: 700px;
    width: 100%;
}

footer div.col {
    display: flex;
    justify-content: center;
}